* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color:rgba(255, 255, 255, 1);

    color: #333;
    line-height: 1.6;
}


.header {
    background-color:  rgba(2, 162, 143, 1);
    color: white;
    padding: 20px;
    text-align: center;
}



.main-content {
    flex: 2;
    margin-right: 20px;
}

.main-content img {
    width: 100%;
}



a {
    text-decoration: none;
    color: inherit;
}

/* Container principal */
.container {
   
    padding: 20px;
    display: flex;
    gap: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
}

/* Coluna esquerda */





#header1{
    margin-left: 105px;
   text-align: left
}

.recent-posts, .posts-populares, .categorias {
    margin-top: 10;
    background-color: #0ea690;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.categorias{
    margin-top: 40px;
}



#bold{
    margin-left: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
    
}

.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    width: 100%;
    height: 100%;
}

.card img {
    width: 300px;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 5px;
}

.card-content h3 {
    margin-bottom: 10px;
    color: #333;
}

.card-content small {
    color: #666;
}

#corp{
    color: rgba(2, 162, 143, 1);
    font-size: medium;
}

#cinza{
    color: rgba(97, 97, 97, 1);
    
}

.abaixo{
    margin-bottom: 75px;
}


#fotowidth{
   width: 105%;
   
  
}



/* Coluna direita */
.sidebar {
    
    margin-top: 21px;
}

.sidebar-box {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 18px;
}

.sidebar-box h3 {
    margin-bottom: 10px;
}

.sidebar-box ul {
    list-style: none;
}

.sidebar-box li {
    
    padding: 8px 0;
}

.sidebar-box li:last-child {
    border-bottom: none;
    
}

.sidebar-box li a:hover {
    color: #0ea690;
}


.post {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}



.subir{
    margin-bottom: 635px;
}

#fontformat{
    text-align: center;
    font-size: 14px;
}


.categorias-list li {
    gap: 200px;
    display: flex;
    justify-content: space-between; 
    color: #555;
    font-size: 16px;
    font-weight: 600;
}


#testfoto{
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 7px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
   
}

#bold{
    font-weight:bold ;
}   

@media only screen and (max-width: 767px){
 
    .cards {
        grid-template-columns: 1fr;
    }

   .sidebar{
    grid-template-columns: 1fr;
   }


    .container{
           flex-direction: column;
          padding-right: 190px;
          margin-left: 20px;
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
        
    }
 
    .header {
        background-color:  rgba(2, 162, 143, 1);
        color: white;
        padding: 10px;
        text-align: center;
        padding-right: 120px;
    }

    .subir{
        margin-bottom: 80px;
    }
    

}